/*
Author: Rishabh Verma;
Notes: Github User Pages;
*/
html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    background: none;
}
::-moz-selection {
    background: #22FFC8;
    color: #fff;
}
::selection {
        background: #22FFC8;
    color: #fff;
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Cairo',Tw Cen MT;
    color: #000;
}
p,pre {
    font-family: 'Dosis',Tw Cen MT;
    color: #000;
}
#bg01 {
    background: none;
    width: 100%;
    height: 100%;
    margin: 0;
}
.title {
    font-family: 'Pacifico',Tw Cen MT;
    font-size: 180px;
    text-align: center;
    color: #000;
    margin-top: 1%;
    margin-bottom: 0;
}
.desc {
    font-family: 'Josefin Sans',Tw Cen MT;
    font-size: 28px;
    text-align: center;
    color: #000;
    margin-top: 0;
    margin-bottom: 150px;
      background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;

}